version: '3.8'

services:
  database:
    image: postgres
    container_name: postgres
    restart: always
    environment:
      - POSTGRES_PASSWORD=nagmani
    ports:
      - '5432:5432'
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 1s
      timeout: 10s
      retries: 10 

  mailhog:
    image: mailhog/mailhog
    logging:
      driver: 'none'  
    ports:
      - 1025:1025 # smtp server
      - 8025:8025 # web ui

  redis:
    image: redis
    container_name: redis
    ports:
      - 6379:6379 
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 1s
      timeout: 10s
      retries: 10 
  
  backend:
    container_name: backend
    build:
      context: 
      dockerfile: 
    ports:
      - 3001:3001
    environment:
      - 
    healthcheck:
      test: ["curl", "http://localhost:3001/health"]
      interval: 1s
      timeout: 10s
      retries: 10 

  web:
    container_name: web 
    build:
      context: 
      dockerfile: 
    ports:
      - 3000:3000
    depends_on:
      backend:
        condition: service_healthy
    
    environment:
      - 
    healthcheck:
      test: ["curl", "http://localhost:3001/health"]
      interval: 1s
      timeout: 10s
      retries: 10 
